<!DOCTYPE html>
<html>

<head>
	<title>Lego Collection</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/theme.css" />
</head>

<body>
	<%- include('partials/navbar', {page: '/about'}) %>

	<div class="container">
		<div class="row">
			<main class="col-md-12">

                <section class="bg-light text-center py-5">
                    <div class="container">
                        <h1 class="display-5 fw-bold">About</h1>
                        <p class="lead text-muted">Everything you want to know about me - the designer & developer.</p>
                    </div>
                </section>
				<br />

				<p>My name is John Smith and I'm currently studying at Seneca Polytechnic.</p>
				<p>Donec sollicitudin molestie tortor, vel feugiat nulla maximus quis. Suspendisse ut sapien id mauris sollicitudin commodo. Quisque semper, ligula et tincidunt dapibus, nisi ante fermentum lectus, nec molestie sem eros vel neque. Duis sit amet ligula eu ligula consectetur blandit sed at mi. Sed ac odio aliquet, vestibulum justo eget, volutpat eros. Mauris a dictum erat. Vivamus sodales egestas tempus. Duis pulvinar nibh enim, vel gravida nunc egestas id. Duis magna ante, posuere id luctus id, mattis at ipsum. Nullam sit amet magna et dui varius tristique ac id nisl. Pellentesque est dolor, luctus vitae dictum ut, hendrerit lacinia lorem. Nullam a pharetra tortor.</p>
				<br />
				<h2>Theme Demo</h2>
				<p>The following sections will demonstrate how common HTML elements are rendered using my custom theme.</p>
				<br />  

			</main>
		</div>

	</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>

</html>